/* Navigation section */
#navbar{
    flex-direction: column;
}
#navbar ul{
    padding-bottom: 5px;
}
#navbar ul li a{
    font-size: 1.0rem;
    padding: 0px 13px;
}

/* Home section */
#home{
    height:330px;
    padding: 13px 51px;
}
#home::before{
    height:480px;
}
#home p{
    font-size: 1.3rem;
}
/* Services section */
#services{
    flex-direction: column; 
}
#services .box{
    
}
/* Cients section */
#clients{
    flex-wrap: wrap;
}
#clients img{
    width:80px ;
    height: auto;
}
#client-section{
    height: 376px;
}
#client-section::before{
    height: 60.5%;
}
/* Contact us section */
#contact-box form{
    width: 25%;
}
/* footer */
/* utility classes */
.h-primary{
    font-size: 2.8rem;
}
.h-secondary{
    
}
.btn{
    font-size: 1.2rem;
    padding:4px 9px;
}
.center{
    
}
