/*CSS Reset*/
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

/* CSS Variables */
/* ye mujhe nhi aata ek baar revisit krna hai */
:root{
    --navbar-height:59px
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}
/* #navbar{
    position: relative;
} */
/* for the grey navbar */
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}
/* Navigation Bar:Logo and Image */
#logo{
    margin:10px 34px; 
}
#logo img{
    height:50px;
    margin:3px 6px;
    border-radius: 53px;
}
/* Navigation Bar:List Styling */
#navbar ul{
    display: flex;
}
#navbar ul li{
    /* color: white; */
    list-style: none;
    font-size: 1.3rem;
    font-family: 'Ubuntu', sans-serif;
    /* font size rem kya hota hai? */
}
#navbar ul li a{
    color: white;
    font-weight: bold;
    display:block;
    padding: 5px 20px;
    border-radius: 20px;
    text-decoration: none;
}
/* for button effects */
#navbar ul li a:hover{
    color:black;
    background-color: white;
}
/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding: 5px 200px;
    height: 326px;
    justify-content: center;
    align-items: center;
}
/* home background */
#home::before{
    content: "";
    background: url('../bg3.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 70%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}
#home h1{
    color: white;
    text-align: center;
    font-family: 'Bree Serif', serif;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
}
/* services section */
#services{
    margin: -3px;
    display: flex;
    justify-content: center;
}
#services .box{
    border: 2px solid orange;
    padding: 5px 5px;
    margin: 10px 25px;
    margin-bottom: 25px;
    border-radius: 23px;
    background-color: #dddcdc;
}
#services .box img{
    height: 115px;
    margin: auto;
    display: block;
}
#services .box p{
    font-family: 'Bree Serif', serif;
}
/* Client section */
#client-section{
    height: 300px;
}
#client-section::before{
    content: "";
    position: absolute;
    background:url('../bg2.jpg') ;
    width: 100%;
    height: 50%;
    opacity: 0.2;
    z-index: -1;
    margin-top: 8px;
}
.client-item{
    padding: 34px;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
#clients img{
    width: 124px;
    height: auto;
}
/* contact us section */
#contact{
    position: relative;
    height: 400px;
}
#contact::before{
    content: "";
    position: absolute;
    background: url('../contact.jpg') no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity:0.5;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
#contact-box input{
    width:330px;
    padding:3px;
}
#contact-box textarea{
    width:320px;
    height: 85px;
    padding: 9px;
    border-radius: 3px;
}
#contact-box form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
}
#contact-box label{
    font-size: 1.0rem;
    font-family: 'Bree Serif', serif;
}
/* footer section */
footer{
    background: black;
    color: white;
    padding:6px 20px;
}
/* Utility classes */
.h-primary{
    font-family: 'Bree Serif', serif;
    font-size: 2.8rem;
    padding:20px;
}
.h-secondary{
    font-family: 'Bree Serif', serif;
    font-size: 1.8rem;
    padding:15px;
}
.btn{
    padding: 5px 15px;
    margin: 15px;
    border-radius: 10px;
    background-color: orange;
    border: 2px solid white;
    font-size: 1.5rem;
    cursor: pointer;
}
.center{
    text-align: center;
}

